#///////////////////////////
# 依赖
#///////////////////////////
node_modules

#///////////////////////////
# 构建目录
#///////////////////////////
build

#///////////////////////////
# fairygui 3D Project
#///////////////////////////
.objs

#///////////////////////////
# Laya 3D Project
#///////////////////////////
.rpt2_cache
.laya/_pub_old
.laya/configTemp.json
.laya/chrome
.rec
release/
bin/js/bundle.js
bin/res/**/*.webp

#///////////////////////////
# Cocos Creator 3D Project
#///////////////////////////
library/
temp/
local/
profiles/
native/
